*{
	margin: 0px;
	padding: 0px;
	font-family: 'Julius Sans One', sans-serif;
    box-sizing: border-box;
    

}
nav
{
	display: flex;
	justify-content: space-around;
	padding: 25px;
	align-items: center;
	background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    color: #fde7f9;
    color: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);

    margin-bottom: 30px;
}
.brand
{
	font-size: 2em;
    letter-spacing: 4px;
    

}
.nav-links li
{
	letter-spacing: 2px;
    list-style: none;
    padding : 25px;
}
.nav-links a{
	text-decoration: none;
	color: #fde7f9;
    color: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}





.burger
{
	cursor: pointer;
}
.burger div{
	width:25px;
	margin: 5px;
	height:4px;
	background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);


}

body
{
    overflow-x: hidden;
}
nav
{
    justify-content: space-between;
}

.nav-links
{
    position: absolute;
    left:0px;
    height:100vh;
    width:15%;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    top:55px;
    z-index: 10;
    flex-direction: column;
    text-align: center;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in;
    
}
.nav-links li:hover{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 54%);

}
.nav-links a:hover{
    color: #7f5a83;
    range: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
.nav-links li
{
    opacity: 0;
}

.burger
{
    display: block;
}


.nav-active
{
	transform: translateX(0%);
}
button{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 54%);

}



@keyframes navLinkFade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
	
}
