*{
    padding: 0px;
    margin: 0px
}
img{
    height: 350px;
}
.col-md-4{
    padding-right: 50px; 
    padding-left: 0px;
}


.content{

    position: absolute; 
    bottom: 0px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}
.imageCategory:hover .content{
    opacity: 1;
    transition-duration: 0.5s;
}
.imageCategory:hover{
    
    transform:scale(1.1);
    z-index: 1;
    box-shadow: 0px 0px 5px 5px #dbf1ff;
}

img{
    height:300px;
    width: 100%;
}

@media  (max-width: 999px) {

     .content  {
        
        opacity: 1;
        
    
    }

  }
@media screen and (min-width: 992px)
{

.imageCategory{
    padding: 0;
    margin:0;
    transform: skew(-10deg);
    transition: transform .2s;
}
.imageCategory:hover{
    
    transform:scale(1.1) skew(-10deg);
    overflow: hidden;
    z-index: 1;
    border: none;
    box-shadow: 0px 0px 5px 5px #dbf1ff;
}
}

@media screen and (max-width:992px){
    .imageCategory{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}