*{
  margin:0;
}
body {
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;
  position: relative;
}
#header-nav{
  background:none;
}
.kin_page{
  margin:auto;
  padding-left: 9%;
  
}
.part1,.part2,.part3{
  height:630px;
  border:5px solid black ;
  margin:15px;
  box-shadow:10px 5px aqua;
  padding:0;
}
#nav-list{
  margin-top:20px;
}
.nav-link{
  margin:5px;
  height:50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background:none;
 }
 .nav-item button{
   border: none;
 }

.nav-link::before{
  content: "";
  position: absolute;
  left:0;
  width:100%;
  height:0%;
  background:aqua;
  z-index:-1;
  transition:0.8s;
  top:0px;
  border-radius: 0 0 50% 50%;
}

.nav-link:hover::before{
  height:180%;
}

#link1{
  color:aqua;
  transition:0.8s;
}
#link1:hover{
  color:black;
}
#nav2item{
  margin:2px;
  margin-top:20px;
  background:none;
  font-size: 20px;
}
/* .search-icon{
    margin:auto;
    margin-top:33px;
} 
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background:none;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;

}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background:aqua;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
} */

.checkbtn{
  margin:20px;
  margin-top:10px;
  font-size:18px;
  color:black;
  cursor: pointer;
  margin-right: 40px;
  display:none;
}
#check{
  display: none;
}

#lady,#man,#shop{
  height:100%;
  width:100%;
}
  /* @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  } */
  @media (max-width: 1000px){
    .checkbtn{
      display: block;
    }
    #nav-list{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: 0;
      text-align: center;
      transition: all .5s;
      z-index:99;
    }
    .nav-item{
      float:none;
      display: block;
    }
    .nav-link{
      display: block;
      width:100%;
      margin: 50px 0;
      line-height: 30px;
      font-size: 20px;
    }
    #check:checked ~ #nav-list{
      left: 0;
    }
    .part1,.part3{
      display: none;
    }
    .part2{
      width:100%;
      margin:auto;
    }
    .kin_page{
      padding: 0;
    }
  }








